#navbarContainer .activeNavbarItem{
	/*Tamanho da navbar 
	height: 75px;
	*/
}
.navbar{
	margin-bottom: 0px;
}

#divBgImage{
	width: 100%;
}
#bgImage{
    width: inherit;
    position: absolute;
}
#bgOverlay{
	width: inherit;
	position: absolute;
}

#masterContainer{

}

#outerContainer{
	background-color: #313745;
	color:white;
	height: auto;
	min-height: 500px;
	border-radius: 2px;
	border: 1px solid #e7e7e7;
}

#innerContainer{
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
#divFormSearchSummoner{
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

#summonerInputText{
	background-color:#E7E7E7;
	text-align: center;
}
#divFormSearchSummoner{
    font-size: 20px;
    color: #337AB7;
}

#divContentIndex{
	position:fixed;
	width: 500px;
	min-height: 200px;
	top:calc(50% - 100px);
	bottom:calc(50% - 100px);
	right:calc(50% - 250px);
	left:calc(50% - 250px);
	border-style: solid;
	border-radius: 15px;
    border-width: 2px;
	border-color:black;
	box-shadow: 10px 10px 5px black;
	z-index:10;
	display:flex;
	justify-content:space-around;
}

#divSearchSummoner{
	background-color: white;
	width: inherit;
	height: inherit;
	border-radius: 15px;
	text-align: center;
	opacity: 1.0;
}

.nav.navbar-nav li a {
	color: #337AB7;
}
#navbarContainer .activeNavbarItem {
	color: #337AB7;
}
.navbar-default .navbar-brand {
	color: #337AB7;
}

body{
	background-color: #01429C;
}

p{
	margin-left: 20px;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle), .btn-group>.btn:first-child, .btn-group>.btn:last-child {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

.alert{
	text-align: center;
	display: none;
}

#summonerOverview{
	text-align: center;
	width:100%;
}

#summonerIcon{
	width: 100px;
	height: 100px;
	border-radius:10px;
	border: 1px solid gray;
}

#summonerName{
	font-size:24px;
	color:#337AB7;
}
#summonerRegion{
	font-size: 24px;
	font-style:italic;
	color: gray;
}
#summonerLevel{
	font-size:15px;
	font-color:white;
}

#showAllChampionsDiv{
	width:100%;
	font-size:18px;
	color:white;
}
#showAllChampionsDiv:hover{
	/*cursor: pointer;*/
}

#allChampionsList, #allChampionsChart{
	background-color: #313743;
	color:white;
}

.panel-showed{
	background-color:#313743;
}     
.panel-hidden{
	background-color:#337AB7;
}
.nav-tabs{
	background-color:#313743;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    cursor: default;
    //background-color: #e7e7e7;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav>li>a:hover{
	color:black;
}

.nav-tabs>li>a {
    color: white;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

#masteryInfoLabel{
	text-align: center;
}
.championListImage{
	border: 2px solid #337AB7;
	position:absolute;
}
.championListItemDiv{
	padding: 10px 10px 10px 10px;
	float:left;
}

.championListImage, .championListItemOverlay{	
	width: 90px;
	height: 90px;
	border-radius:50%;
}
.championListItemOverlay{
	background-color:white;
	position: relative;
	opacity:0;
	text-align: center;
    color: black;
    font-style:bold;
    padding-top: 30px;
}
.championListItemOverlay:hover{
	opacity:0.7;
}
.levelChampionList{
	display:block;
}

.labelLevelGroup{
	text-align: center;
	font-size:18px;
}
.labelMasteryOverview{
	font-size: 18px;
}
.championLevelGroup{
	display:none;
}
.progress{
	margin-top:4px;
	margin-bottom: 0px;
	height:15px;	
}
.topChampionsMasteryOverview, .nextChestMasteryOverview{

}
.tickChampionName{
	color:white;
	font-family: bold;
}
#allChampionsChartContainer{

}
#championRoleFilter{
	color:black;
}
.labelFilterByRole{
	float:left;
	font-size: 16px;
	margin-right: 10px;
}
.sumMasteryPointsDisplay{
	font-size:40px;
	text-align: center;
}
.pieChartCol{
	height:450px;
}

#coordChartContainer{
	color: white;
	font: white;
	font-size:11px;
	background-color:#313745;
}
.axis path {
	stroke: white;
	stroke-width: 2px;
	fill-opacity:0;
}
.axis line {
	fill: white;
	shape-rendering: crispEdges;
	stroke: #000;
}
.tick{
	fill:white;
}
.tick line{
	stroke:white;
}
.axis .minor line {
	stroke: #777;
	stroke-dasharray: 2,2;	
}
.axis-label{
	fill:#7CC3FF;
	font-size:16px;
}
.coordChart-line{
	opacity: 0.25;
	stroke-width:3px;
	fill:none;
}
.coordChart-line:hover{
	opacity: 1;
	/*opacity: 0.87;*/
	stroke-width:4px;
}
.coordChart-tooltip {
  position: absolute;
  text-align: center;
  width: 160px;
  height: 140px;
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
}
.coordChart-tooltip img{
	width: 55px;
	height: 55px;
}
.coordChart-tooltip span{
	font-size: 14px;
}
.tooltipInnerDiv{
	text-align: center;
}
#comparationDiv{
	height:600px;
}
#comparationChartDiv{
	height: 598px;
	overflow-y: auto;
	overflow-x: hidden;
}
#comparationChart{
	min-height: 400px;
}
#comparationInputsDiv{
	/*margin-top:20px;*/
	border-right: 1px solid white;
	height: 600px;
	overflow: auto;
}
.comparationTextInput{
	float:left;
	margin-top:15px;
	max-width: calc(100% - 28px);
	text-align: center;
	height: 25px;
	background-color: #E7E7E7;
}
.comparationButton{
	margin-left:4px;
	margin-right:0px;
	margin-top:15px;
}
#comparationLabelSubTitle{
	font-size:15px;
}
#comparationDiv{

	border: 1px solid white;
	border-radius:15px;
	margin-left:5px;
	margin-right:5px;
}
.fa{
	color:gray;
}
.fa-2x.active{
	color:white;
}

.form-group.summonerInput{
	margin-bottom: 0px;
}
.alert.alert-info.comparator, .alert.alert-danger.comparator{
	display:inherit;
	padding: 5px;
	text-align: left;
	margin-top:10px;
	margin-bottom:0px;
}
.comparatorImg{
	width: 45px;
	height: 45px;
}
.comparatorXLabel{
	text-align: right;
}
#paralCoordFilterLabel{
	float:left;
	margin-right:5px;
}
#paralCoordFilterDiv{
	width:200px;
	float:inherit;
}
#paralCoordFilter{
	text-align:center;
	height: 25px
}
.tbDiv{
	padding:3px;
	text-align: center;
}
.tbImg{
	border: 1px white solid;
}
.tbLabel{

}
#tbTitleDiv{
	text-align: center;
}
#tbTitle{
	font-size:24px;
}
#tbSubTitle{
	font-size:18px;
}
#tbInputForm{
	margin:20px;
}
.tbInputText{
	text-align: center;
	font-size:25px;
	height: 40px;
	margin-bottom: 20px;
}
#tbDetails{
	margin-top:15px;
	text-align: left;
	font-size:20px;
	display:none;
}
#tbDetails img{
	width:45px;
	height: 45px;
	border:1px solid white;
}
.tbDetailSummoner{
	display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.tbDetailRoleSpan{
	margin-right:5px;
	font-size:30px;
	color:#337AB7;
}

#tbRegionSelectDiv{
	text-align: center;
}
#tbRegionSelectLabel{
	display: inline;
}
#tbRegionSelect{
	display: inline;
	width:100px;
}
.tbDetailChampionsDiv{
	float:right;
}
#tbAlertsDiv{
	margin-top:20px;
}
.tbAlert{
	display:none;
}
.tbLabelDiv{
	background-color: #313745;
	width: 100%;
	position: relative;
	bottom: 45px;
	border:1px solid white;
}
.aboutPageContent{
	padding-right: 25px;
}

.aboutPageContent img{
	max-width:600px;
	border: 1px white solid;
}
.BRONZE{
	color:#b47f46;
}
.SILVER{
	color:#97a0a0;
}
.GOLD{
	color:#c4b430;
}
.PLATINUM{
	color:#33b799;
}
.DIAMOND{
	color:#3b8adb;
}
.MASTER{
	color:#32b4cc;
}
.CHALLENGER{
	color:#32b4cc;
}
.y-axis-label, .y-label{
	fill: white;
}
#matchlistMap{
	width: 400px;
	height: 400px;
}
#matchlistChampions{
	width:calc(100% - 400px);
	height: 400px;
}
#matchlistInfo{
	display:flex;
}
#matchlistInfoContainer{
	margin-top: 20px;
}